$background: #f2f2f2;
$background-secondary: #e7e8e9;
$background-inverse: #582b23;
$color: change_color($background-inverse, $lightness: 10%);
$color-inverse: $background;
$color-accent: #ad4d25;
$color-accent-secondary: desaturate(lighten($color-accent, 20%), 10%);
$color-accent-active: darken($color-accent, 15%);
$color-accent-inverse: change_color($color-accent, $lightness: 90%);
$color-accent-secondary-inverse: desaturate(darken($color-accent-inverse, 10%), 10%);
$color-accent-active-inverse: lighten($color-accent-inverse, 15%);
$divider: fade_out($color, 0.80);
$image-border-color: fade_out($background-inverse, 0.6);
$image-border-color-opaque: lighten($background-inverse, 0.5);
$notification-background: rgba(yellow, 0.3);
$notification-border-color: mix(yellow, $image-border-color, 0.4);
$timeline-width: 4em;
$timeline-line-width: 3px;
$timeline-line-color: mix($color-accent, $background, 60%);
$timeline-bullet-size: 1em;
$font-family-serif: "Merriweather", "Georgia", "Times New Roman", serif;
$font-family-sans: "Merriweather Sans", "Arial", sans-serif;

@import "../node_modules/normalize.css/normalize";
@import "lightbox";

* {
    box-sizing: border-box;
}

@media print {
    @page {
        margin: 1.5cm;
    }
}

body {
    background: $background;
    color: $color;
    width: 100%;
    margin: 0;
    font-family: $font-family-serif;

    a {
        page-break-inside: avoid;

        @media print {
            color: unset !important;
            text-decoration: none !important;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-sans;
        page-break-inside: avoid;
        page-break-after: avoid;

        @media print {
            font-weight: 400;
        }
    }

    img {
        max-width: 100%;
        page-break-inside: avoid;
        page-break-after: avoid;
    }

    blockquote {
        page-break-inside: avoid;
    }

    table, pre {
        page-break-inside: avoid;
    }

    ul, ol, dl {
        page-break-before: avoid;
    }

    dl {

        > dt {
            display: inline;
            font-weight: bolder;

            &:before {
                display: block;
                content: "";
            }

            &:after {
                content: ":";
            }
        }

        > dd {
            display: inline;
            margin-left: 1em;
        }
    }

    figcaption {
        font-style: italic;
        font-size: smaller;
        color: fade_out($color, 0.15);
    }

    > header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        background: $background-inverse;
        color: $color-inverse;
        font-family: $font-family-sans;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
        z-index: 1;
        position: relative;
        page-break-inside: avoid;

        // Solidarity banner for Ukraine.
        box-shadow:
        0 5px 0 0 #0656b7,
        0 10px 0 0 #fdd536,
        0 13px 1px -2px rgba(0, 0, 0, 0.2),
        0 12px 2px 0 rgba(0, 0, 0, 0.14),
        0 11px 5px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 10px;

        @media print {
            color: $color;
            box-shadow: none;
            border-bottom: 1px solid fade_out($color, 0.7);
        }

        a {
            color: $color-inverse;
            text-decoration: none;
        }

        > figure.logo {
            flex: 0 0 100%;
            width: 100%;
            margin: 0 auto;

            @media print {
                display: none;
            }

            @media only screen and (min-width: 650px) {
                flex: 0;
                margin: 0 0 0 auto;
            }

            @media only screen and (min-width: 1000px) {
                margin: 0 0 0 1.5em;
            }

            > a {
                display: block;
                width: 100%;
                margin: 0;
                padding: 0.75em 1em;
                text-align: center;

                > svg {
                    width: auto;
                    height: 100px;

                    @media only screen and (min-width: 1000px) {
                        height: 80px;
                    }

                    * {
                        fill: $color-inverse;
                    }
                }
            }
        }

        > h1 {
            flex: 1;
            margin: 0;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.5em;
            text-align: center;
            align-self: flex-end;

            @media only screen and (max-width: 350px) {
                font-size: 1em;
            }

            @media only screen and (min-width: 650px) {
                flex: 0;
                text-align: left;
                margin: 0 auto 0 0;
            }

            @media only screen and (min-width: 1000px) {
                font-size: 1.3em;
                margin: 0;
            }

            a {
                display: block;
                padding: 0.75em 0.5em;
            }
        }

        > nav {
            flex: 0 0 100%;
            margin-bottom: 0.5em;

            @media print {
                display: none;
            }

            @media only screen and (min-width: 1000px) {
                flex: 3;
                margin-bottom: 0;
            }

            > ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin: 0;
                padding: 0;
                justify-content: space-evenly;

                @supports (-ms-ime-align: auto) {
                    justify-content: space-around;
                }

                > li {
                    flex: 0 0 100%;
                    text-align: center;
                    vertical-align: middle;
                    list-style: none;

                    @media only screen and (min-width: 650px) {
                        flex: 0 0 4em;
                    }

                    &.active > a:after {
                        background: fade_out($color-inverse, 0.5);
                    }

                    > a {
                        display: block;
                        width: 100%;
                        height: 48px;
                        line-height: calc(48px - 1ex);
                        padding: 0.5em 0;
                        text-decoration: none;
                        position: relative;

                        &:after {
                            display: block;
                            content: "";
                            position: absolute;
                            left: 50%;
                            width: 4em;
                            height: 2px;
                            border-radius: 1px;
                            transition: background 0.2s ease-in, bottom 0.2s ease-in;
                            transform: translateX(-50%);
                            bottom: 0;
                            background: fade_out($color-inverse, 0.8);
                        }

                        &:hover {

                            &:after {
                                bottom: 2px;
                                background: $color-inverse;
                            }
                        }

                        @media only screen and (min-width: 650px) {
                            font-size: larger;
                        }
                    }
                }
            }
        }
    }

    > main {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;

        > article {
            flex: 1;
            padding: 2em;
            line-height: 1.75;
            width: 100%;

            > header > h1 {
                margin-top: 0;
            }

            @supports (hyphens: auto) or (-webkit-hyphens: auto) or (-ms-hyphens: auto) {
                text-align: justify;
                overflow-wrap: break-word;
                word-wrap: break-word;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                hyphenate-limit-chars: 10 4 4;
            }

            span.color-bullet {
                font-size: 0;

                &:after {
                    font-size: initial;
                    content: "⬤";
                }
            }

            h1, h2, h3 {
                clear: both;
            }

            .clearfix {
                clear: both;
            }

            table {
                margin: 0.5em auto;

                td, th {
                    padding: 0.5em;
                }

                &#inner-pipes {
                    max-width: 100%;

                    img {
                        margin: 0.5em;
                        max-width: 100%;
                        max-height: 40vh;

                        @media print {
                            max-width: 40vw;
                            max-height: 30vh;
                        }
                    }

                    td {
                        text-align: center;
                    }
                }
            }

            img, video {
                display: block;
                max-height: 50vh;
                margin: 1em auto;
                border: 1px solid $image-border-color;
                border-radius: 0.25em;
                padding: 0.5em;
                max-width: 50vw;

                @media only screen and (min-width: 650px) {
                    max-width: 650px * 0.50;
                }

                @media only screen and (min-width: 800px) {
                    max-width: 800px * 0.50;
                }
            }

            figure {
                width: min-content;
                max-width: 50vw;
                margin: 1em auto;

                @media only print {
                    width: max-content;
                    max-width: 80vw;
                }

                @media only screen and (min-width: 650px) {
                    float: left;
                    margin: 0 2em 0 0;
                    max-width: 650px * 0.50;
                }

                @media only screen and (min-width: 800px) {
                    max-width: 800px * 0.50;
                }

                figcaption {
                    margin-top: 1em;
                }

                &.full-width, &.gallery {
                    max-width: 100%;
                    width: auto;
                    clear: both;

                    img, video {
                        max-width: 100%;
                    }
                }

                &.gallery {
                    margin: 1em auto;
                    border: 1px solid $image-border-color;
                    border-radius: 0.25em;
                    padding: 0.5em;
                    float: none;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5em;

                    a {
                        display: block;
                        flex: 1 0 calc(100% / 2 - 0.5em);

                        @media only screen and (min-width: 650px) {
                            flex-basis: calc(100% / 4 - 0.5em);
                        }

                        @media only screen and (min-width: 800px) {
                            flex-basis: calc(100% / 6 - 0.5em);
                        }

                        img {
                            border: 0;
                            border-radius: 0;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }

                &#organ-layout {
                    max-width: none;

                    @media only screen and (max-width: 1000px) {
                        float: none;
                        margin: 1em auto;
                    }

                    div#map {
                        display: inline-block;
                        position: relative;
                        //width: max-content;
                        margin: 0 auto;

                        img {
                            max-width: 80vw;
                            max-height: 80vh;

                            @media only screen and (min-width: 650px) {
                                max-width: 650px * 0.80;
                            }

                            @media only screen and (min-width: 800px) {
                                max-width: 800px * 0.60;
                            }

                            &#organ-model-north, &#organ-model-east, &#organ-model-south, &#organ-model-west,
                            &#organ-layout-north, &#organ-layout-east, &#organ-layout-south, &#organ-layout-west {
                                position: absolute;
                                width: 20%;
                                margin: 0;
                                padding: 0;
                                border: 1px solid $image-border-color-opaque;
                                border-radius: 0.125em;
                                transform: translate(-50%, -50%);
                                box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.4), 0 1px 2px 0 rgba(0, 0, 0, 0.28), 0 0px 5px 0 rgba(0, 0, 0, 0.24);
                                transition: box-shadow 0.3s ease-out;

                                &:hover {
                                    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8), 0 1px 4px 0 rgba(0, 0, 0, 0.56), 0 0px 10px 0 rgba(0, 0, 0, 0.48);
                                }

                                @media print {
                                    box-shadow: none;
                                    border: 1px solid $image-border-color-opaque;
                                }
                            }

                            &#organ-model-north {
                                width: 11.5%;
                                top: 60%;
                                left: 17%;
                            }

                            &#organ-model-east {
                                width: 11.5%;
                                top: 35%;
                                left: 45%;
                            }

                            &#organ-model-south {
                                width: 11.5%;
                                top: 77%;
                                left: 31%;
                            }

                            &#organ-model-west {
                                width: 11.5%;
                                top: 82%;
                                left: 49%;
                            }

                            &#organ-layout-north {
                                width: 11.5%;
                                top: 53%;
                                left: 46%;
                            }

                            &#organ-layout-east {
                                width: 11.5%;
                                top: 32%;
                                left: 70%;
                            }

                            &#organ-layout-south {
                                width: 11.5%;
                                top: 55%;
                                left: 85%;
                            }

                            &#organ-layout-west {
                                width: 11.5%;
                                top: 80%;
                                left: 70%;
                            }
                        }
                    }
                }
            }

            .notification p {
                display: block;
                background: $notification-background;
                border: 1px solid $notification-border-color;
                border-radius: 0.25em;
                padding: 0.5em;
            }

            a {
                color: $color-accent;

                &:hover {
                    color: $color-accent-secondary;
                }

                &:active {
                    color: $color-accent-active;
                }

                &[href$="pdf"], &[href*="http://"], &[href*="https://"] {
                    &:after {
                        display: inline-block;
                        font-weight: lighter;

                        @media print {
                            display: none;
                        }
                    }

                    &[href$="pdf"]:after {
                        content: "(PDF)";
                        font-size: smaller;
                        margin-left: 0.25em;
                    }

                    &[href*="http://"]:after, &[href*="https://"]:after {
                        content: " ➚";

                        &[href*="http://orgel-braunschweigerdom.de"]:after, &[href*="https://orgel-braunschweigerdom.de"]:after {
                            display: none;
                        }
                    }
                }

                img:hover {
                    border-color: $color-accent-active;
                }
            }

            > nav.sections {
                font-style: italic;

                > ol {
                    display: inline;
                    list-style: none;
                    padding: 0;

                    > li {
                        display: inline;

                        &:before {
                            content: " / ";
                            font-size: 75%;
                        }

                        &:first-of-type:before {
                            content: "";
                        }
                    }
                }
            }

            > nav.subsections {
                font-style: italic;

                > ul {
                    display: inline;
                    list-style: none;
                    padding: 0;

                    > li {
                        display: inline;

                        &:after {
                            content: ", ";
                        }

                        &:last-of-type:after {
                            content: "";
                        }
                    }
                }
            }

            > section.timeline {

                > ol {
                    list-style: none;
                    padding: 0;

                    > li {
                        position: relative;
                        margin: 0;
                        padding-bottom: 1em;
                        padding-left: $timeline-width;

                        &:before {
                            content: "";
                            background-color: $timeline-line-color;
                            position: absolute;
                            bottom: 0;
                            top: 0;
                            left: calc(#{$timeline-width / 2} - #{$timeline-line-width / 2});
                            width: $timeline-line-width;
                        }

                        &:first-of-type:before {
                            top: $timeline-width / 2;
                        }

                        &:last-of-type:before {
                            bottom: auto;
                            height: $timeline-width / 2;
                        }

                        &:last-of-type {
                            padding-bottom: 0;
                        }

                        &:first-of-type:last-of-type:before {
                            display: none;
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            border-radius: 50%;
                            left: calc(#{$timeline-width / 2} - #{$timeline-bullet-size / 2});
                            top: calc(#{$timeline-width / 2} - #{$timeline-bullet-size / 2});
                            width: $timeline-bullet-size;
                            height: $timeline-bullet-size;
                            background: $timeline-line-color;
                        }

                        > time {
                            font-style: italic;
                        }

                        > h3 {
                            margin: 0;

                            > a {
                                text-decoration: none;
                                color: $color;
                            }
                        }

                        > p {
                            margin: 0;
                        }
                    }
                }

                &.has-prev > ol > li {
                    &:first-of-type:before {
                        top: 0;
                        border-top-left-radius: $timeline-line-width;
                        border-top-right-radius: $timeline-line-width;
                    }

                    &:first-of-type:last-of-type:before {
                        display: initial;
                    }
                }

                &.has-next > ol > li {
                    &:last-of-type:before {
                        bottom: 0;
                        height: auto;
                        border-bottom-left-radius: $timeline-line-width;
                        border-bottom-right-radius: $timeline-line-width;
                    }

                    &:first-of-type:last-of-type:before {
                        display: initial;
                    }
                }
            }

            > nav.pagination {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                > div {
                    &.page-number {
                        justify-self: center;
                        text-align: center;
                    }

                    &.next > a {
                        margin-right: 0.5em;
                    }

                    &.prev > a {
                        margin-left: 0.5em;
                    }
                }
            }
        }

        > aside {
            flex: 0 0 100%;
            background: $background-secondary;
            box-shadow: -3px 3px 1px -2px rgba(0, 0, 0, 0.1),
            -1px 2px 2px 0 rgba(0, 0, 0, 0.07),
            0 1px 5px 0 rgba(0, 0, 0, 0.06),
            3px 3px 1px -2px rgba(0, 0, 0, 0.1),
            1px 2px 2px 0 rgba(0, 0, 0, 0.07),
            0 1px 5px 0 rgba(0, 0, 0, 0.06);
            padding: 0 1em;
            height: fit-content;

            @media print {
                display: none;
            }

            @media only screen and (min-width: 800px) {
                flex: 0 0 25%;
            }

            > section, > nav {
                border-bottom: 1px solid $divider;

                &:last-child {
                    border-bottom: 0;
                }
            }

            > section {
                padding: 1em 0;

                > figure {
                    margin: 0;

                    img {
                        display: block;
                        width: 100%;
                        max-width: 40vw;
                        border-radius: 0.2em;
                        margin: 0 auto;

                        @media only screen and (max-width: 350px) {
                            max-width: 80vw;
                        }

                        @media only screen and (min-width: 650px) {
                            max-width: 30vw;
                        }
                    }

                    > figcaption {
                        margin-top: 1em;
                    }
                }

                > h3 {
                    margin-top: 0;
                }

                &#progress {
                    display: flex;
                    flex-wrap: wrap;

                    > h3, > small {
                        flex: 0 0 100%;
                    }

                    > h3 {
                        margin-bottom: 0.5em;
                    }

                    > small {
                        margin-bottom: 1em * (1 / 0.75);
                        font-size: 75%;
                    }

                    > figure {
                        flex: 0 0 50%;
                        text-align: center;
                        position: relative;
                        margin: 0;

                        > svg {
                            max-height: 37vh;
                            width: auto;
                            min-width: 1.75em;
                            min-height: 250px;

                            .background {
                                fill: darken($background-secondary, 10%);
                            }

                            .background-active {
                                fill: saturate(lighten($color-accent-secondary, 5%), 20%);
                            }
                        }

                        > figcaption {
                            color: $color;

                            &.overlay {
                                font-size: 75%;
                                min-width: 250px;
                                width: max-content;
                                position: absolute;
                                top: 27.5%;
                                left: 50%;
                                transform: translate(-50%, -50%) rotate(-90deg);
                                font-family: $font-family-sans;
                                font-weight: bold;
                                font-style: normal;
                            }
                        }
                    }
                }
            }

            > nav {
                padding: 0;

                > ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    > li {
                        margin-top: 1em;
                        margin-bottom: 1em;

                        > a {
                            font-family: $font-family-sans;
                            font-weight: bold;
                            font-size: 1em;
                            text-decoration: none;
                            color: $color;
                        }
                    }
                }
            }

            a {
                color: inherit;

                &:hover {
                    color: $color-accent;
                }
            }
        }
    }

    > footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background: $background-inverse;
        color: $color-inverse;
        box-shadow: 0 -3px 1px -2px rgba(0, 0, 0, 0.2),
        0 -2px 2px 0 rgba(0, 0, 0, 0.14),
        0 -1px 5px 0 rgba(0, 0, 0, 0.12);
        padding: 1em;
        z-index: 1;
        position: relative;
        line-height: 1.5;
        page-break-inside: avoid;

        @media print {
            color: $color;
            box-shadow: none;
            border-top: 1px solid fade_out($color, 0.7);
            text-align: center;
        }

        > h2 {
            flex: 0 0 100%;
        }

        a {
            color: $color-accent-inverse;

            &:hover {
                color: $color-accent-secondary-inverse;
            }

            &:active {
                color: $color-accent-active-inverse;
            }
        }

        > section {
            flex: 0 0 100%;

            > ul {
                list-style: none;
                margin: 1em 0;
                padding: 0;

                > li {
                    display: inline;

                    &:before {
                        display: inline;
                        content: " • ";
                    }

                    &:first-of-type:before {
                        display: none;
                    }
                }
            }

            &:not(#copyright) {
                @media only screen and (min-width: 800px) {
                    flex: 1;
                }

                @media print {
                    display: none;
                }
            }
        }
    }
}