<aside>
    <section>
        <figure>
            <a href='{{ relref . "/entwurf.md" }}' title="Entwurf">
                {{- $image := resources.Get "images/orgel.png" -}}
                {{- $image := $image.Resize "400x" -}}
                <img src='{{ $image.RelPermalink  }}' alt="Entwurf der Zwillingsorgeln">
            </a>
            <figcaption>Entwurf der Zwillingsorgeln</figcaption>
        </figure>
    </section>
    <nav>
        {{ if .Site.Menus.side }}
        <ul>
            {{ range .Site.Menus.side }}
            <li>
                <a href="{{ .URL }}" title="{{ .Name }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
    {{ if $.Site.Data.organs }}
    <section id="progress">
        <h3>Spendenbarometer</h3>
        {{- $lastDate := time "1970-01-01" -}}
        {{- range $.Site.Data.organs -}}
        {{- $date := time .lastUpdated -}}
        {{- if $date.After $lastDate -}}
        {{- $lastDate = $date -}}
        {{- end -}}
        {{- end -}}
        <small>Stand: {{ $lastDate.Format "02.01.2006" }}</small>
        {{ range $.Site.Data.organs }}
        {{ partial "organ-pipe.html" . }}
        {{ end }}
    </section>
    {{ end }}
    <!--
    <section>
        <h3>Schirmherren</h3>
    </section>
    -->
</aside>
