<header>
    <figure class="logo">
        <a href="{{ .Site.BaseURL }}">
            {{ block "logo" . }}
            {{ partial "images/logo.svg" . }}
            {{ end }}
        </a>
    </figure>
    <h1>
        <a href="{{ .Site.BaseURL }}">
            Orgelbauverein&nbsp;am Braunschweiger&nbsp;Dom&nbsp;e.V.
        </a>
    </h1>
    <nav role="navigation">
        {{ if .Site.Menus.main }}
        <ul>
            {{ $currentNode := . }}
            {{- $firstUrlElement := print "/" (index (split .Permalink "/") 1) -}}
            {{ range .Site.Menus.main }}
            <li class='{{if or ($.IsMenuCurrent "main" .) (eq ($firstUrlElement|lower) (.URL|lower)) }}active{{end}}'>
                <a href="{{ .URL }}" title="{{ .Name }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
</header>
