{{ with $.Site.Data.pipes }}
{{- $lastDate := time "1970-01-01" -}}
{{- range . -}}
{{- $date := time .lastUpdated -}}
{{- if $date.After $lastDate -}}
{{- $lastDate = $date -}}
{{- end -}}
{{- end -}}
<table>
    <thead>
    <tr>
        <th colspan="2" style="text-align:center;">Kategorie</th>
        <th style="text-align:center;">Preis</th>
        <th style="text-align:center;">Vergebene<br>Patenschaften<br></th>
        <th style="text-align:center;">Anzahl<br>Gesamtpatenschaften</th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
    <tr>
        <td>Preisgruppe {{ .group }}</td>
        <td><span class="color-bullet" style='color:{{ .color.html }};'>({{ .color.name }})</span></td>
        <td style="text-align:right;">{{ lang.NumFmt 0 .price "- , ." }}&nbsp;€</td>
        <td style="text-align:center;">{{ .donated }}</td>
        <td style="text-align:center;">{{ .max }}</td>
    </tr>
    {{ end }}
    <tr>
        <td colspan="5" style="text-align:center;"><small>Stand Pfeifenpatenschaften (für beide Orgeln): {{
            $lastDate.Format "02.01.2006" }}</small></td>
    </tr>
    </tbody>
</table>
{{ end }}
